@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Karla:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Karla';
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-contaniner {
  position: relative;
  width: 100%;
  width: 1920px;
  height: 100vh;


}
